In [2]:
import pandas as pd
import numpy as np

In [147]:
data =  pd.read_csv('./dash-bootstrap/data/judul_skripsi.csv',sep=';')

In [142]:
filterdatadisplay(data.head())

,Tahun_Lulus,Judul,Kategori
0,2019,APLIKASI PENGAMANAN PESAN DAN DATA MANIFES GAM...,Steganografi
1,2019,KLASIFIKASI TINGKAT KEMATANGAN BUAH KERSEN MEN...,Image Processing
2,2019,PERLINDUNGAN CITRA DIGITAL DENGAN SKEMA WATERM...,Steganografi
3,2019,PENINGKATAN ROBUSTNESS IMAGE WATERMARKING DENG...,Image Processing
4,2019,KLASIFIKASI KONTEN BERITA SECARA OTOMATIS PADA...,Text Mining

In [149]:
filterdata=data[data['Tahun_Lulus'] == 2018]

In [155]:
# filterdata = filterdata.groupby('Kategori', as_index=False)['Kategori'].trasnform('count')
filterdata.groupby('Kategori', sort=True)["Kategori"].count().reset_index(name ='Total Amount')

                   Kategori  Total Amount
0               Text Mining            13
1   Artificial Intelligence            21
2               Data Mining            16
3               Kriptografi             7
4  Rekayasa Perangkat Lunak            12
5          Image Processing            14
6              Steganografi            10

In [106]:
filterdata1=filterdata['Kategori'].value_counts().to_frame()
most2019Topics=pd.value_counts(filterdata['Kategori'].values, sort=True)
# filterdata1.index= most2019Topics
most2019Topics

Artificial Intelligence     21
Data Mining                 16
Image Processing            14
Text Mining                 13
Rekayasa Perangkat Lunak    12
Steganografi                10
Kriptografi                  7
dtype: int64

In [92]:
filterdata1

                          Kategori
Artificial Intelligence         21
Data Mining                     16
Image Processing                14
Text Mining                     13
Rekayasa Perangkat Lunak        12
Steganografi                    10
Kriptografi                      7

ValueError: Length mismatch: Expected axis has 1 elements, new values have 2 elements